<div class="flex-container">
  <!-- <nb-card class="flex-child">
    <nb-card-body> -->
  <div>
    <h1>Coin info</h1>
    <h3>Name: Bitcoin</h3>
    <h4>Symbol: BTC</h4>
  </div>
  <!-- </nb-card-body>
  </nb-card> -->

  <!-- <nb-card class="flex-child mleft">
    <nb-card-body> -->
  <div>
    <h1>Coin related news</h1>
    <ul>
      <li>
        <h3>News one</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
          deleniti ipsam dolorum voluptatem quo fugiat dolorem autem...
        </p>
      </li>
      <li>
        <h3>News two</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
          deleniti ipsam dolorum voluptatem quo fugiat dolorem autem...
        </p>
      </li>
    </ul>
  </div>
  <!-- </nb-card-body>
  </nb-card> -->
</div>
<div class="flex-container">
  <div class="flex-child">
    <app-dashboard-table></app-dashboard-table>
  </div>
</div>
