.logo-container {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  width: auto;

  .sidebar-toggle {
    text-decoration: none;
    nb-icon {
      font-size: 1.75rem;
    }
  }

  .logo {
    padding: 0 1.25rem;
    font-size: 1.75rem;
    white-space: nowrap;
    text-decoration: none;
  }
}
